<article class="user_show">


<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<h3>あなたの記事がお気に入り登録された合計数</h3>
<p><%= @favorited_total_counts %>件</p>

<h3>お気に入り一覧</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User name</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.blog.title %></td>
        <td><%= favorite.blog.content %></td>
        <td><%= favorite.blog.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</article>
